body{
    font-family: "Merriweather", serif;

  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

/* Banner styling */

}
  .banner-container{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }

.new{
    font-weight: 400;
    font-size: 32px;
    color: white;
   
}
.cele{
    font-weight: 900;
    font-size: 72px;
    color: white;
   
}

/* 2nd */
.percentage{
    font-weight: 700;
    font-family: inter;
    font-size: 88px;
    color: rgb(255, 0, 0);
}

.para{
    font-weight: 500;
    font-size: 24px;
    font-family: inter;
    color: rgb(255, 0, 0);
}

.title{
    font-weight: 700;
    font-size: 48px;
    font-family: inter;
    color: rgb(7, 2, 17);
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px auto;
}

/* welcome banner */

.welcome-banner{
    background-color:rgba(0, 0, 0, 0.5);
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    max-width:1320px;
    height: 600px;
    margin: 120px 140px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.greetings{
    font-weight: 900;
    font-size: 64px;
    color: rgb(255, 255, 255);
}

.info{
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.party{
    text-align: left;
    padding: 126px;
}
.btn{
    font-weight: 700;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 10px;  
}


/* vennue style */

.vennue span{
    color: red;

}

.vennue-container{
    max-width: 1320px;
    height: 482px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);

}

.vennue{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: 549px;
    height: 168px;
    border: 2px solid red;
    
    
}

.place-btn{
    margin-top: 40px;
    padding: 16px 32px 16px 32px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

/* best-offer-container style */

.best-offer-container{
    width: 1320px;
    height: 463px;
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    text-align: left;
    margin: 100px auto;
}

.fireworks{
    /* box-sizing: border-box; */
    /* border-bottom-left-radius: 60%;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 60%; */
    padding: 35px;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    
}

.best-offer{
    width: 207px;
    height: 29px;
    color: rgb(255, 0, 0);
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
}
.offer-para{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
}
.year{
    font-size: 48px;
    font-weight: 700;
    color:rgb(255, 0, 0);
}

.year-para{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
}

.happy{
    margin-top: 22px;
}



/* holiday sale section */

.holiday-sale-container{
    max-width: 1320px;
    height: 985px;
    margin: 0 auto;
    position: relative;
}

.function{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.title{
    font-size: 72px;
    font-weight: 900;
}

.title span{
    color: rgb(255, 0, 0);
}

.holiday-para{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.holiday-info{
    padding: 0 126px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.rectangle{
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 77%;

}

.giftbox{
    /* width: 674.82px;
    height: 577.96px; */
    position: relative;
    top: 15%;
    /* z-index: 1; */
    display: flex;

}

.girl-container{
    width: 674.82px;
    height: 577.96px;
    left: 15%;
    /* margin-left: 200px; */
    position: relative;
    
}

.discount{
    position: relative;
    width: 206.84px;
    height: 206.84px;
    left: -25%;
    top: 57.02%;
}

/* portfoilio-container section */

.portfoilio-container{
    max-width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}

.portfolio-gift{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgb(255, 0, 0);
}

.portfolio-title{
    font-size: 48px;
    font-weight: 900;
}

.portfoilo-para{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.portfolio-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* subscribe-container section */

.subscribe-container{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);

}


.subscribe-container img{
    margin-top: 70px; 
}

.subscribe-title{
    font-size: 48px;
    font-weight: 900;
}

.subscribe-para{
    padding: 15px 50px;
}

form{
    margin-top: 48px;
}
input{
    padding: 10px 20px;
    border: none;
    border-radius: 40px 0 0 40px;
    background-color: rgb(255, 255, 255);
    width: 438px;
    height: 72px;
    left: var;
}

.subscribe{
    padding: 5px 10px;
    border: none;
    border-radius: 0 40px 40px 0;
    background-color: red;
    color: white;
    width: 210px;
    height: 72px;
    
}

/* footer-container section */

.footer-container{
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    background-color: rgb(7, 2, 17) ;
}

.info{
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    padding: 70px 30px;
    margin-top: 50px;
    

}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 100px;
}



.copyright{
    width: 1320px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}

.hr{
    width: 1320px;
    margin-left: 120px;
    color: rgba(255, 255, 255, 0.15);
}